block vars
  - var pageTitle = "Documentation"
  - var description = "Get started with Ampersand.js"

extends ../templates/layout

block content

  .docs.cf
    nav.nav-docs
      a.section-top(href= '#getting-started') Getting Started
      for module, key in globals.modules
        for item in module.toc
          if item.depth === 1
            a.section-top(href= '#' + item.linkText)!= item.text
          if item.depth === 2
            a.section-sub(href= '#' + item.linkText)!= item.text
          if item.depth === 3
            a.section-sub-sub(href= '#' + item.linkText)!= item.text

    .docs-content
      section
        h1 Getting Started
        p Something friendly here :)

      for module, key in globals.modules
        section.module
          a.anchor(name= module.name, href= '#' + module.name)
            h1= module.title
          .module-card
            h4.module-name= module.name
            for version, label in module['dist-tags']
              p.module-version= label + ' v' + version
            p.module-description= module.description
            p.module-links
              a(href= module.homepage) github
              a(href='https://www.npmjs.org/package/#{module.name}') npm

          div!= module.html
